<h1 class="mt-4">About</h1>
<p class="lead mb-3">환영합니다 <%= name %>님!</p>
<p class="lead mb-3">
  정적인 HTML 페이지입니다. 사용자마다 이름이 달라지는 페이지 입니다. 자기 계정이 아닌 글이나 사진을
  수정 or 삭제하려고 하면 접근 권한 문제로 로그아웃되니 주의하시길 바랍니다.
</p>
<p class="lead mb-3">아래 버튼을 통해 이동하세요.</p>
<a href="/board" class="btn btn-primary">게시판</a>
<a href="/gallery" class="btn btn-primary">갤러리</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
